.container {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
  &.container-fluid {
    max-width: 1750px;
    padding: 0 40px;
  }
}

.container-right-100 {
  width: 100%;
  position: relative;
  left: 50%;
  padding-right: calc(50% - 550px);
  margin-left: -550px;
}

h1,h2,h3,h4,h5,h6, button, input, select {
  font-family: $global-font-family;  
}


html {
  height: 100%;
  overflow-y:scroll;
  background: $black;
  color: #FFF;
  @include regular();
  @include bestFont();  
  font-family: $global-font-family;

  &.bg-layout-form {
    background: #F4F6F8;
  }  
}

.content-white {
  background: #fff;
  color: $black-80;
}

.link-purple {
  color: $purple;
  transition: all .2s;
  &:hover {
    color: $purple;
    text-decoration: underline;
  }
}

body {
  height: 100%;
}

* {
  text-size-adjust: 100%;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-weight: inherit;
  text-rendering: optimizelegibility;
  border-color: initial;
  border-image: initial;
  border-style: initial;
  border-width: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-decoration: none;
}

// Cor de fundo seleção cursor
// -------------------------
::-moz-selection {
  @include selectionBackground($purple, #fff);
} 

::selection {
  @include selectionBackground($purple, #fff);
}


// tab highlight
*:focus {
  webkit-box-shadow: 0px 0px 2px 3px $purple !important;
  -moz-box-shadow: 0px 0px 2px 3px $purple !important;
  box-shadow: 0px 0px 2px 3px $purple !important;
}



hr {
  @include size(100%, 1px);
  background: #EEE;
  border: 0;
}

a {
	color: $white;
	transition: all .2s;
	&:hover {
		color: $purple;
	}
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.overlay-purple {
  background: #725BC2;
  @include opacity(0.8);
}


// Fix owl carousel images
.owl-carousel {
  .owl-item {
    img {
      width: auto !important;
    }  
  }
}

