
@mixin bestFont () {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
          font-smoothing: antialiased;
  
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
   -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
       text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  
  -webkit-text-stroke: 1px transparent;
     -moz-text-stroke: 1px transparent;
      -ms-text-stroke: 1px transparent;
          text-stroke: 1px transparent;
}

// Border Radius
@mixin border-radius($radius:5px){
  -webkit-border-radius: $radius !important;
     -moz-border-radius: $radius !important;
          border-radius: $radius !important;
}

// Drop shadows
@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// transition
@mixin transition($transition ){
  -webkit-transition: $transition;
     -moz-transition: $transition;
          transition: $transition;
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

// Drop shadows
@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color !important;
	}	
}

// Selection background color
// --------------------------
@mixin selectionBackground($background, $color) {
  background:$background;
  color:$color;
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// FONTS
// -----
@mixin light(){
    font-weight: 300;
}

@mixin regular(){
    font-weight: 400;
}

@mixin italic() {
    font-style: italic;
}

@mixin medium(){
    font-weight: 500;
}

@mixin bold(){
    font-weight: 700;
}

@mixin black(){
    font-weight: 900;
}
