.v--modal-overlay {
	background: rgba(33, 45, 70, .8);
}

.v--modal-background-click {
  width: 100% !important;
  height: 100% !important;
}

.modal {
	top: 50% !important;
	margin-top: -180px;
  .modal-content {
    padding: 70px 50px;
  }

  .holder-icon {
  	font-size: 60px;
  }

  .close-modal {
  	font-size: 35px;
  	position: absolute;
  	top: 0;
  	right: 0;
  	color: $black-50;
  	padding: 17px 25px;
  }
}

@media (max-width: 750px) {
  .modal {
    width: 90% !important;
    left: 5% !important;
  }
}


@media (max-width: 500px) {
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90% !important;
    min-height: 350px !important;
    top: 50% !important;
    margin: -175px 0 0 0 !important;
    left: 5% !important;
  }
}